# commit temp files
.diff
.commit
.coverage.out
# executable
go-wiki
# server credentials
server.crt
server.csr
server.key
# instance-specific docker configuration
Dockerrun.aws.json
.ebextensions/ssl.config
config.json
ebconfig.zip
