{
  "AWSEBDockerrunVersion": "1",
  "Image": {
    "Name": "bluegraybox/gowiki",
    "Update": "true"
  },
  "Ports": [
    {
      "ContainerPort": "443"
    }
  ],
  "Volumes": [
    {
      "HostDirectory": "/var/local/wiki",
      "ContainerDirectory": "/var/local/wiki"
    }
  ],
  "Logging": "/var/log/wiki"
}
